<div class="col-sm-12 col-xs-12 col-md-12 edit_article">
    <div class=nu_title>
        <h1>Editar Artigo</h1>
      </div>
    <%= render 'form', article: @article %>

  <div class='link_voltar'> 
    <%= link_to 'Voltar', articles_path %>
  </div>
</edit>
</div>