<div class="col-sm-12 col-xs-12 col-md-12 new_article">
  <div class=nu_title>
    <h1>Novo artigo</h1>
  </div>
  <%= render 'form', article: @article %>

  <div class='link_voltar'> 
    <%= link_to 'Voltar', articles_path %>
  </div>
</div>
