<footer>  
          <div class="footer col-md-12 col-sm-12 col-xs-12">
            <div id=textoFooter>
              <p>IN Junior - Empresa Júnior de Computação da UFF - Todos os direitos reservados</p>
            </div>
            <div class='logo'>
              <img src="images/logo-branca.png">
            </div>
          </div>
      </footer> 
</body>
</html>