header{
	width: 100%;
	position: relative;
  margin:0 !important;
}

@font-face {
     font-family: helvetica, libertine;
     src: url('librtine.ttf');
}

.mynavbar{
    width: 100%;
    background-color:#000;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.50);
    margin:0px;
    position: relative;
    height:90px;
}
.navbarTop{
    height: 50px;
    width: 80%;
    background-color:#000;
    border-bottom: solid;
    border-bottom: 50%;
    border-color: #696969;
    border-width: 0.5px;
    margin-left: 10%;
}
.navbarBotton {
   background-color: #000;
   width: 80%;
   height: 40px;
   float: center;
   margin-left: 10%;
   margin-top: 0px;
}
header .navbarBotton li a:hover{
    transition: 0.5s;
    color: #b4b4b4;
    text-decoration: none;
    display: inline-block;
}
.logomarca {
    display: inline-block;
    height: 10px; 
}
.opcoes li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color:#06c;
    font-family: helvetica sans-serif "Open Sans";
    font-size:16px;
}

.opcoes{
    padding-top: 10px;
    position: relative;
}
#wrap {
  margin: 0;
  display: inline-block;
  height: 60px;
  float: right;
  padding: 0;
  position: relative;
}

input[type="text"] {
  height: 40px;
  font-size: 20px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  color: #b4b4b4;
}

input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  cursor: text;
  font-family: sans-serif;
}
input[type="submit"] {
  height: 47px;
  width: 43px;
  display: inline-block;
  color:#fff;
  float: right;
  background: url(search.png) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  cursor: pointer;
  transition: opacity .4s ease;
  font-family: sans-serif;
}
.search{
  padding:0;
  margin:0;
}

input[type="submit"]:hover {
  opacity: 0.8;
}