          <div class='geral'>
          <section class="col-sm-12 col-xs-12 col-md-8 posts">
              <div class=post>
                <h2> Lorem Ipsum</h2>
                <div class=img> <img src="images/image.png"></div>
                <P> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra facilisis maximus. Nam placerat elementum sapien ac convallis. Nam hendrerit nibh mauris, in feugiat lorem malesuada ut. Vestibulum porta risus ut dictum sollicitudin. Mauris blandit elementum justo, a sollicitudin urna gravida nec. Sed ac urna sed elit egestas bibendum quis non sem</P>
              </div>
              <div class=post>
                <h2> Lorem Ipsum</h2>
                <div class=img> <img src="images/image.png"></div>
                <P> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra facilisis maximus. Nam placerat elementum sapien ac convallis. Nam hendrerit nibh mauris, in feugiat lorem malesuada ut. Vestibulum porta risus ut dictum sollicitudin. Mauris blandit elementum justo, a sollicitudin urna gravida nec. Sed ac urna sed elit egestas bibendum quis non sem</P>
            </div>
            <div class=post>
                <h2> Lorem Ipsum</h2>
                <div class=img> <img src="images/image.png"></div>
                <P> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra facilisis maximus. Nam placerat elementum sapien ac convallis. Nam hendrerit nibh mauris, in feugiat lorem malesuada ut. Vestibulum porta risus ut dictum sollicitudin. Mauris blandit elementum justo, a sollicitudin urna gravida nec. Sed ac urna sed elit egestas bibendum quis non sem</P>
            </div>
          </section>
          <section class="col-sm-12 col-xs-12 col-md-4">
            <div class=lateral> MAIS COMENTADAS,PARTE DO FORUM, ETC </div>
          </section>
          </div>