// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.geral_article{
    min-height:450px;
}
.coments p{
    margin-left:65px;
    margin-bottom:20px;
    margin-top:20px;
    font-size:25px;
}
.article_title{
    text-align:center;
    font-size:40px;
    padding-bottom: 15px;
}
.article_content{
    font-size:20px;
    margin-left:50px;
}
.article_tags{
    color: #6E6E6E;
    font-size:20px;
    margin-left:50px;
    margin-top: 30px;
}
.personal_article {
    margin:0px;
    padding-bottom:20px;
}
.article-user{
    margin-top: 20px;
    margin-bottom: 20px;
}