 .new_user{
        min-height: 450px;
    }
  .nu_title{
    text-align:center;
  }  
  .nu_conteudo{
    text-align:center;
  }
.edit_user h1{
    margin-top:40px;
    margin-right:40px;
}
.nu_title{
  margin-top:30px;
}