//-------------HOME --------------------
@font-face {
     font-family: libertine;
     src: url('librtine.ttf');
}
.home{
  margin:0px;
  padding:0px;
  min-height:500px;
  height:100%;
}
.banner{
  margin:0;
  height:400px;
  background-color:#b4b4b4;
  padding:0;
}
#banner h1{
  font-family:"libertini", "Lato", "sans-serife";
  text-align:center;
  font-size: 100px;
  color:#fff;
  margin-top: 120px;
}
.banner h1{
  font-family:"libertini", "Lato", "sans-serife";
  text-align:center;
  font-size: 100px;
  color:#fff;
  margin-top: 120px;
}
.posts{
  padding: 0px 100px;
} 
.post{
    text-align: center;
    margin:30px 0px 60px 0px;
    padding: 10px 20px 30px 20px;
    border-radius:3px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.09);
    border: 1px solid rgba(0,0,0,.09);
}
.post h2{
  padding-bottom: 10px;
  text-decoration: none;
  text-align:center;
}
.post a:hover{
  text-decoration:none;
}
.img{
  margin-bottom: 30px;
}
.lateral{
    text-align: center;
    margin: 110px 80px 0px 0px;
    padding: 30px 20px 30px 20px;
    border-radius:3px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.09);
    border: 1px solid rgba(0,0,0,.09);
    height: 1000px;
}

.article_date {
  float:left;
  margin:0;
  padding-left:0px;
  color:#b4b4b4;
}

.nome_user{
  float:left;
  margin:0 !important;
}
.pagination a{
  padding-left: 10px;
}
.pagination{
  width:100%;
  text-align:center;
}
.btn_criaPost{
  width:130px;
  margin-top: 40px;
  background-color:#06c;
  font-size:17px;
  text-align:center;
  padding: 10px 5px 10px;
  border-radius: 2px;
  color:white;
}

.btn_criaPost a {
  text-decoration:none;
  cursor: pointer;
  color:white;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn_criaPost a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn_criaPost:hover a {
  padding-right: 25px;
}

.btn_criaPost:hover a:after {
  opacity: 1;
  right: 0;
}
//----------------FÓRUM-----------------------------
.questao_container{
  min-height:450px;
}
.btn_criaQuestion{
  width: 180px;
  margin-top: 40px;
  background-color:#06c;
  font-size:17px;
  text-align:center;
  padding: 10px 5px 10px;
  border-radius: 2px;
  color:white;
}
  
.btn_criaQuestion a {
  text-decoration:none;
  cursor: pointer;
  color:white;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.btn_criaQuestion a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
.btn_criaQuestion:hover a {
  padding-right: 25px;
}

.btn_criaQuestion:hover a:after {
  opacity: 1;
  right: 0;
}
.questoes{
  padding: 0px 100px;
  background:#fafafa;
} 
.questao{
    margin:30px 0px 60px 0px;
    padding: 10px 20px 30px 20px;
    border-radius:3px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    border: 1px solid rgba(0,0,0,.12);
}
.questao h2{
  padding-bottom: 10px;
  text-decoration: none;
}
.questao a:hover{
  text-decoration:none;
}