//------INDEX QUESTIONS---------------------------
.list_questions{
    min-height:550px;
}

.list_questions table th{
  padding-right:50px;
  padding-bottom: 20px;
}
.list_questions table{
  margin-left:65px;
  width:1300px;
}
.list_questions table td{
  padding-bottom: 20px;
}
.list_questions table td a{
  text-decoration:none;
  padding-right:10px;
}
.new_quest{
  margin-right:70px;
  width: 160px;
  margin-top: 40px;
  margin-bottom: 60px;
  background-color:#06c;
  font-size:17px;
  text-align:center;
  padding: 10px 5px 10px;
  border-radius: 2px;
  color:white;
  float: right;
}
  
  .new_quest a {
    text-decoration:none;
    cursor: pointer;
    color:white;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .new_quest a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
  }
  
  .new_quest:hover a {
    padding-left: 25px;
  }
  
  .new_quest:hover a:after {
    opacity: 1;
    left: 0;
  }

//---------------------------Questions Show----------------------------
.questions_show{
  min-height:550px;
  margin-left: 45px;
  width: 90%;
  margin-right:40px;

}
.question_title{
    margin: 30px 0px 30px 0px;
}
.question_title h2{
    text-align:center;
    font-size:35px;
    color:#6969696;
}

.question_content{
    font-size:20px;
    margin-left:50px;
}
.question_tags{
    color: #6E6E6E;
    font-size:20px;
    margin-left:50px;
    margin-top: 40px;
    border-bottom: solid 1px #b4b4b4;
    margin-right:35px;
}
.questionl_article {
    margin:0px;
    padding-bottom:20px;
}
.question-user{
    margin-top: 20px;
    margin-bottom: 20px;
}
.questions_show #new_answer {
    padding-left: 60px;
}

.btnEdit{
  float: right;
  width:130px;
  background-color:#06c;
  border:none;
  color:#fff;
  font-size:17px;
  text-align:center;
  padding: 7px 5px 7px 5px;
  border-radius: 2px;
  margin-top: -85px;
  margin-right: 35px;
  padding:10px 5px 10px 5px;
}
.btnEdit a {
  color: #fff;
  text-decoration:none;
}
.btnEdit:hover{
  background-color:#0174DF;
  text-decoration:none;
}
.quest_respostas{
  margin-left: 50px;
}

//---------------NOVA PERGUNTA--------------------------------
.btvoltar {
  float: left;
  width: 130px;
  background-color: #b4b4b4;
  border: none;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding: 7px 5px 7px 5px;
  border-radius: 2px;
  margin-left: 65px;
  margin-top: 20px;
  padding: 10px 5px 10px 5px;
  margin-bottom: 20px;
}
.btvoltar a{
  text-decoration:none;
  color: #fff;
}

.edit_article .actions {
    margin-left: 0px;
    margin-top: 20px;
    padding-right:5px;
}
.new_question{
    margin-left: 50px;
    margin-right: 50px;
}
.questions_show .field{
    margin: 20px 0px 50px 50px;
}
.questions_show #new_answer{
  padding-left:0px;
}
//---------------EDITAR QUESTION------------------
.edit_question{
  min-height:550px;
}
.link_voltar a {
  text-decoration:none;
  cursor: pointer;
  color:white;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.link_voltar a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.link_voltar:hover a {
  padding-right: 25px;
}

.link_voltar :hover a:after {
  opacity: 1;
  right: 0;
}