// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
    background-size:100%;
    height:100%;
    width:100%;
    padding: 0px;
}
body{
    margin: 0px;
}
.login_geral{
    width:100%;
    height:100%;    
    padding:0;
    margin:0;
    background-image:url('wolfs.png');
    background-size:cover;
    position: fixed;
    border-style:none;
  }

.login_formulario{
     width:33%;
     float: center;
     margin-left:33%;
     text-align:center;
     position:absolut;
     margin-top:12%;
     padding:30px 10px 30px 10px ;
     background-color:rgba(0,0,0,0.5);
     border-radius: 5px;
     font-family:sans-serif;

 }
 .login_formulario h2 label{
     color:#fff;
     margin-bottom: 20px;
 
 }
 #session_password{
    background-color:transparent;
    border-bottom:solid;
    border-width:0.5px;
    border-color:#fff;
    border-top: none;
    border-right:none;
    border-left:none;
    color:#fff;
    outline:none;
    margin-top:30px;

 }
 
 .login_btn input{
   background-color:#fff;
   border-radius:5px 7px 15px;
   border-style:none;
   font-weight: bold;
   border-radius:2px;
   padding: 7px 10px 7px 10px;
 }
 .login_btn input:hover{
   background-color:#06c;
 }
 #session_email{
     color:#fff;
     background-color:transparent;
     border-bottom:solid;
     border-width:0.5px;
     border-color:#fff;
     border-top: none;
     border-right:none;
     border-left:none;
     outline:none;
     margin-top:30px;
   
 }
 .login_pass_reset{
     padding:0px;
     margin-top: 40px;
 }
 .login_pass_reset input{
   color:#b4b4b4;
   background-color:transparent;
   border:none;
   outline: none;

 }
 .login_pass_reset input:hover{
   color:#06c;
 }
 
