//-----PERFIL DO USUÁRIO-----HTML em users > show.html.erb

.perfil_user{
  padding-left: 130px;
  padding-right: 30px;
  border-right: 1px solid #000;
  border-color: #b4b4b4;
  background: #fff;
  min-height: 600px;
  font-size: 18px;
}
.user_foto{
  margin-top: 50px;
  margin-bottom:10px;    
  border: 0px solid #34587d;
}

.editar{
  width:80px;
  background-color:#06c;
  font-size:17px;
  text-align:center;
  padding: 7px 5px 7px 5px;
  border-radius: 2px;
  margin-top:40px;
}
.editar a{
  color:#fff;
  text-decoration:none;
}
.editar:hover{
  background-color:#0174DF;
  text-decoration:none;
}

.voltar{
  width:80px;
  height:40px;
  margin-top: 40px;
  background-color:#b4b4b4;
  font-size:17px;
  text-align:center;
  padding: 10px 5px 10px;
  border-radius: 2px;
  color:white;
}

.voltar a {
  text-decoration:none;
  cursor: pointer;
  color:white;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.voltar a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.voltar:hover a {
  padding-right: 25px;
}

.voltar :hover a:after {
  opacity: 1;
  right: 0;
}
.tabbable{
  height:400px;
  width:500px;
  border-radius:5px;
  margin-top: 50px;
  margin-left: 130px;
  box-shadow: 0 0 2px #888;
}
.tab-pane p{
  margin-top: 30px;
  margin-left: 10px;
}

//-----EDITAR PERFIL DO USUÁRIO----html em users >edit.html.erb-----------------
#user_description{
  max-height:200px;
}
.edit_user{
  min-height:450px;
}
.edit_user h1{
  text-align:center;
  font-size:35px;
}
.edit_user h1{
  padding-top:25px;
  padding-bottom:30px;
  color:#696969;
}
.link_voltar{
  width: 130px;
  background-color:#696969;
  font-size:17px;
  text-align:center;
  padding: 10px 5px 10px;
  border-radius: 2px;
  color:white;
}
  
.link_voltar a {
  text-decoration:none;
  cursor: pointer;
  color:white;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.link_voltar a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
  }
  
.link_voltar:hover a {
    padding-left: 25px;
  }
  
.link_voltar:hover a:after {
    opacity: 1;
    left: 0;
  }   
  .fields_user {
    float: left;
    margin-top: 28px;
    line-height: 28px;
  }


//------------LISTAGEM DE USUÁRIOS---index.html.erb------------
.list_users{
  min-height: 550px;
}
.list_users table th{
  padding-bottom: 30px;
  padding-right:50px;

}
.list_users table{
  margin-left:65px;
  width:1100px;
}
.list_users table td{
  padding-bottom: 30px;
}
.list_users table td a{
  text-decoration:none;
  padding-right:10px;
}
.new_usr{
  width:120px;
  background-color:#06c;
  font-size:17px;
  text-align:center;
  padding: 7px 5px 7px 5px;
  border-radius: 2px;
  margin-top:40px;
  margin-left:65px;
}
.new_usr a{
  color:#fff;
  text-decoration:none;
}
.new_usr:hover{
  background-color:#0174DF;
  text-decoration:none;
}

