<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
        Header
        </title>
        <link rel="stylesheet" href="home.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
       <div class="geral">
          <header>
              <nav class="mynavbar">
                 <div class ="navbarTop">
                      <div class="logomarca">
                          <a href="home.html"><img src="images/logopng.png"></a>
                      </div>
                      <div id="wrap">
                        <form action="" autocomplete="on">
                        <input id="search" name="search" type="text" placeholder="Digite sua busca"><input id="search_submit" value="Rechercher" type="submit">
                        </form>
                      </div>
                  </div>
                  <div class="navbarBotton">
                    <div class=opcoes>
                      <li><a href="#">HOME</a></li>
                      <li><a href="#">FORUM</a></li>
                      <li><a href="#">GUIDE</a></li>
                      <li><a href="#">STATISTICS</a></li>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><img src="images/male-user.png">
                        </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Acount</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Logout</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Favorites</a></li>
                          </ul>
                          </div>
                      </div>   
                  </div>
              </nav>
              <div id=banner>
                <h1>Wolfpédia</h1>
              </div>
          </header>
          <section class="col-sm-12 col-xs-12 posts col-md-8">
              <div class=post>
                <h2> Lorem Ipsum</h2>
                <div class=img> <img src="images/image.png"></div>
                <P> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra facilisis maximus. Nam placerat elementum sapien ac convallis. Nam hendrerit nibh mauris, in feugiat lorem malesuada ut. Vestibulum porta risus ut dictum sollicitudin. Mauris blandit elementum justo, a sollicitudin urna gravida nec. Sed ac urna sed elit egestas bibendum quis non sem</P>
              </div>
              <div class=post>
                <h2> Lorem Ipsum</h2>
                <div class=img> <img src="images/image.png"></div>
                <P> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra facilisis maximus. Nam placerat elementum sapien ac convallis. Nam hendrerit nibh mauris, in feugiat lorem malesuada ut. Vestibulum porta risus ut dictum sollicitudin. Mauris blandit elementum justo, a sollicitudin urna gravida nec. Sed ac urna sed elit egestas bibendum quis non sem</P>
            </div>
            <div class=post>
                <h2> Lorem Ipsum</h2>
                <div class=img> <img src="images/image.png"></div>
                <P> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra facilisis maximus. Nam placerat elementum sapien ac convallis. Nam hendrerit nibh mauris, in feugiat lorem malesuada ut. Vestibulum porta risus ut dictum sollicitudin. Mauris blandit elementum justo, a sollicitudin urna gravida nec. Sed ac urna sed elit egestas bibendum quis non sem</P>
            </div>
          </section>
          <section class="bio col-sm-12 col-xs-12 col-md-4">
            <div class=lateral> MAIS COMENTADAS,PARTE DO FORUM, ETC </div>
          </section>
        <footer>  
          <div class="footer col-md-12 col-sm-12 col-xs-12">
            <div id=textoFooter>
              <p>IN Junior - Empresa Júnior de Computação da UFF - Todos os direitos reservados</p>
            </div>
            <div class='logo'>
              <img src="images/logo-branca.png">
            </div>
          </div>
      </footer> 
</body>
</html>