<div class="col-xs-12 col-sm-12 col-md-12 geral_answers">
    <div class='answer_title'>
        <h2>Nova Resposta</h2>
    </div>
<%= render 'form', answer: @answer %>
<div class ='btvoltar'>
    <%= link_to 'Voltar', answers_path %>
</div>
</div>