
<div class="col-sm-12 col-xs-12 col-md-12 edit_user">

    <h1>Editing User</h1>
    
    <%= render 'form', user: @user %>
    
    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
</div>