<!---EDITAR PERFIL DO USUÃRIO -----css em stylesheets > users.scss--->
<div class="col-sm-12 col-xs-12 col-md-12 edit_user">

    <h1>Editar Perfl de <%= @user.name %></h1>
    
    <%= render 'form', user: @user %>
    
    <%= link_to 'Mostar', @user %> 
    <%= link_to 'Voltar', users_path %>
    
</div>