<div class="col-xs-12 col-sm-12 col-md-12 edit_question">
  <div class='question_title'>
        <h2>Editar Pergunta</h2>
    </div>

    <%= render 'form', question: @question %>
    
    <div class='botao_voltar'><%= link_to 'Voltar', questions_path %></div>
</div>