<div class="col-sm-12 col-xs-12 col-md-12 edit_article">
   
    <div class=nu_title>
    <h1>Nova Pergunta </h1>
    </div>
    <%= render 'form', question: @question %>
     <div class ='btvoltar'>
    <%= link_to 'Voltar', '/forum' %>
    </div>
</div>    