<footer>  
  <div class="col-md-12 col-sm-12 col-xs-12 footer">
    <div class='textoFooter'>
      <p>IN Junior - Empresa Júnior de Computação da UFF - Todos os direitos reservados</p>
    </div>
    <div class='logo'>
      <%= image_tag("logo-branca.png", alt: 'logo-in-junior') %>
    </div>
  </div>
</footer> 