 <header>
  <nav class="mynavbar">
   <div class ="navbarTop">
    <div class="logomarca">
      <a href="home"><%= image_tag("logopng.png", alt:'logo-in-junior') %></a>
    </div>
    <div id="wrap">
      <form action="" autocomplete="on">
        <input id="search" name="search" type="text" placeholder="Digite sua busca"><input id="search_submit"type="submit">
      </form>
      </div>
      </div>
      <div class="navbarBotton">
        <ul class=opcoes>
          <li><b><a href="home">HOME</a></li>
          <li><a href="#">POSTS</a></li>
          <li><a href="#">FÓRUM</a></li>
          <li><a href="#">ESTATÍSTICAS</a></b></li>
          <li class='li-r dp-botao'><a href="#">Menu</a></li>
        </ul>
        <ul class='dp-menu f-right'>
          <li> <a href="#">Minha conta</a></li>
          <li><a href="#">Desconectar</a></li>
          <li> <a href="#">Favoritos</a></li>
        </ul>
      </div>
    </nav>
  </header>